---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import Body from "../components/Body.astro";
import MastHead from "../components/MastHead.astro";
import Content from "../components/Content.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <Body>
    <Header title={SITE_TITLE} />
    <main class="pt-[60px]">
      <MastHead imgPortada={"/frontisunjfsc.jpg"} />
      <Content>
        <section>
          <p class="mb-8">
            Como estas alumno Faustiniano, somos un grupo de alumnos del último
            ciclo de la carrera de Ingeniería Informática. Nosotros estamos
            recopilando información que sea provechoso para usted. Si es un
            alumno de primer ciclo o ya esta avanzado en la carrera, quizas
            desconozca las diferentes especialidades que cuenta su carrera. Es
            por ello que con muchas horas de esfuerzo le traemos a usted joven
            estudiante la información necesaria para que pueda encaminar a
            tiempo su carrera hacia una especialización.
          </p>
        </section>
      </Content>
    </main>

    <Footer />
  </Body>
</html>
