---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../config";
import ThemeToggle from "./ThemeToogleButton";
---

<header class="fixed w-full p-2 z-20 backdrop-blur-md">
  <div class="font-mvoll mx-auto max-w-3xl">
    <nav class="flex items-center gap-3 text-base">
      <a href="/">
        <h2 class="font-bold tracking-tighter p-2 text-lg">
          <img
            class="w-12 h-12"
            src="../../public/logouniversidad.png"
            alt="logo_unjfsc"
          />
        </h2>
      </a>
      <div class="text-base items-center gap-6 hidden md:flex">
        <HeaderLink href="/about">About</HeaderLink>
      </div>
      <div class="flex-1"></div>
      <ThemeToggle client:visible />
    </nav>
  </div>
</header>
