---
export interface Props {
  portada: string;
}
const { portada = "" } = Astro.props;
---

<section
  class="relative mb-6 md:h-[700px] h-96 flex justify-center item-center"
>
  <div
    class="md:bg-cover md:bg-center bg-cover bg-center absolute w-full h-full overflow-hidden opacity-60"
    style={{ "background-image": `url(${portada})` }}
  >
  </div>
</section>
