<section class="relative mb-6 h-96 flex justify-center item-center">
  <div
    class="bg-cover bg-center absolute w-full h-full overflow-hidden opacity-60"
    style="background-image: url('/frontisunjfsc.jpg')"
  >
  </div>
  <div
    class="grid z-10 text-center px-8 drop-shadow-lg shadow-black place-content-center"
  >
    <div class="text-3xl text-white sm:text-5xl font-mvoll font-medium">
      Bienvenido alumno <span class="text-bgdark dark:text-orange-400"
        >Faustiniano</span
      >
    </div>
  </div>
</section>
